//===============================================================================
//===============================================================================
// mobile
//===============================================================================
//===============================================================================

.body{padding:0; margin:0;}
*{
	box-sizing:border-box; 
}

p{
	letter-spacing: 1px;
}

// Content wrapper
.wrap { }

// Main content area
.main {
  padding:0!important;
  margin:0!important;
  float:none!important;
  height:100%!important;
  min-height:100%!important;
  height:auto !important;
  .make-sm-column(@main-sm-columns);
  .sidebar-primary & {
    .make-sm-column(@main-sm-columns - @sidebar-sm-columns);
  }
}

.sidebar-primary{
	.main{
		float:none;
		width:100% !important;
		padding:0 !important;	
	}
}

.full-width-container{
	position:relative;
	text-align:center;
	font-size:14px;
	.overlayContent{
		position:relative;
		z-index:999;
		color:#fff;
		width:100%;
	}
	.pageHeadingAbsolute{
		color:#fff;
		border: 1px solid #fff; 
		margin:16% auto 0 -27.5%;
		min-width: auto; 
		width: 55%;
		letter-spacing:3px;
		padding:10px 0;
		text-transform:uppercase;
		position:absolute;
		top:20px;
		left:50%;
		h1{
			margin:0;
			font-size:20px;
		}
		h3{
			font-size:10px;
			margin:5px 0 0 0;
		}
	}
	.image-caption{
		/*background:url(../img/bg_alpha.png) repeat;*/
		background:#000;
		padding:10px 15%;
		position: relative;
		width:100%;
		font-weight:300;
	}
	.leftContent, .rightContent{
		color:#fff;
		position:relative;
	}
	.numberDataContainer{
		position:relative;
		background-color:#000;
		padding:10% 5%;
		.numberData{
			width:100%;
			text-align:center;
			margin:4% 0;
			span{
				display:block;
				font-size: 20vw;
			}
			sup{
				font-size: 10vw;
			}
		}
	}
	h2{
		margin:0 auto 0 auto;
		padding:10px 0;
		font-size:15px;
		border:1px solid #fff;
		width:65%;
		text-align:center;
		text-transform:uppercase;
	}
	
	.fullOverlay{
		padding-top:5%;
		font-size:13px;		
		/*background:url(../img/bg_alpha_dark.png) repeat;*/
		background-color:#000;
		.aboutParagraph{
			margin:5% auto 0 auto;
			text-align:left;
			float:none;
			p{
				margin:0!important;
				padding-bottom:10px!important;
				font-weight: 300;
			}
		}
		.aboutList{
			margin:5% auto 0 auto;
			text-align:left;
			float:none;
			.title{
				font-weight:bold;
				padding-bottom:10px;
				letter-spacing: 1px;
			}
			ul{
				padding-left:15px;
				padding-bottom:30px;
				margin:0;
				li{
					font-weight:300;
					letter-spacing: 1px;
				}
			}
		}
	}
	.contactContainer{
		margin:0 auto;
		padding-top:20px!important;
		padding-bottom:15px!important;
		float:none;
		text-align:left;
		.contactInfo{
			font-size:15px;
			line-height: 160%;
			text-align:center;
			letter-spacing:1px;
			.title{
					font-weight:bold; 
				}
			span{
				display:block;
				padding-bottom:3px;
			}
			a{
				color:#fff;
			}
		}
	}
}


.heightSync{
	background:#FFF;
}	

img.bg {
  /* Set rules to fill background */
  /*min-height: 100%;*/
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto !important;
}

#halodome-floorplan{
	background-color:#fff;
	text-align:center;
	padding-top:5%;
	h2{
		border:1px solid #000;
		width:65%;
		margin:0 auto 2% auto;
		font-size:15px;
	}
	img{
		margin:0 auto;
	}
}

.page-template-template-contact{
	.main{
		min-height:inherit!important;
	}
}

//===============================================================================
//===============================================================================
// tablet
//===============================================================================
//===============================================================================
@media (min-width: @screen-sm-min) {
	.half-height{
		max-height:511px;
		img.bg{
			max-height:511px;
			height:auto !important;
		}
	}

	.full-width-container{
		position:relative;
		font-size:15px;
		text-align:center;
		.pageHeading{
			border: 1px solid #fff; 
			margin:16% auto 0; 
			min-width: auto; 
			width: 40%;
			letter-spacing:3px;
			padding:20px 0;
			text-transform:uppercase;
			h1{
				margin:0;
			}
			h3{
				font-size:20px;
				margin:10px 0 0 0;
			}
		}
		.overlayContent{
			position:absolute;
			z-index:999;
			color:#fff;
			top:0;
			width:100%;
			height:auto;
			min-height:100%;
			h2.lowerTitle{
				margin-top: 35px;
			}
		}
		.image-caption{
			background:url(../img/bg_alpha.png) repeat;
			background-color:none;
			padding:10px 13%;
			position: absolute;
			bottom:0;
			width:100%;

			&.image-caption-darker{
				background:url(../img/bg_alpha_darker.png) repeat;
			}

			&.image-caption-darker-2{
				background:url(../img/bg_alpha_darker_2.png) repeat;
			}

			p{
				font-size: 13px;
			}
		}
		.rightContent{
			width:35%;
			position:absolute;
			z-index:999;
			color:#fff;
			top:0;
			height:100%!important;
			right:0!important;
			.image-caption{
				padding: 40px 5% 0 10%;
				background:url(../img/bg_alpha_r.png) no-repeat top left;
				height:100%;
				right:0;
				//padding: 40px 11% 0 11%;

				&.image-caption-darker{
					background:url(../img/bg_alpha_r_darker.png) no-repeat top left;
				}
			}
		}
		.leftContent{
			width:35%;
			position:absolute;
			z-index:999;
			color:#fff;
			top:0;
			height:100%!important;
			left:0;
			.image-caption{
				padding: 40px 10% 0 5%;
				background:url(../img/bg_alpha_l.png) no-repeat top right;
				height:100%;
				left:0;
				//padding: 40px 11% 0 11%;
				&.image-caption-darker{
					background:url(../img/bg_alpha_l_darker.png) no-repeat top right;
				}
			}
		}
		.numberDataContainer{
			background:url(../img/bg_alpha.png) repeat;
			background-color:none;
			height:100%;
			position:absolute;
			padding:4%;
			font-size:1.7vw;
			.numberData{
				float:left;
				width:24%;
				text-align:center;
				margin-top:4%;
				span{
					display:block;
					font-size: 8vw;
				}
				sup{
					font-size: 5vw;
				}
			}
		}
		h2{
			border: 1px solid #fff;
			font-weight: bold;
			letter-spacing: 2px;
			margin: 0 auto;
			padding: 15px;
			width:36%;
			font-size:1.9vw;
		}
		
		.fullOverlay{
			background:url(../img/bg_alpha_dark.png) repeat;
			.aboutList{
				div{
					padding:0;
				}
				.floatLeft{
					float:left;
					padding-right:50px;
				}
				.floatRight{
					float:right;
					padding-left:50px;
				}
			}
		}
		
		.contactContainer{
			.contactInfo{
				font-size:13px;
				line-height:140%;
			}
		}
	}
	
	#halodome-floorplan{
		h2{
			width:36%;
			margin:0 auto 2% auto;
			font-size:1.9vw;
			text-transform:uppercase;
		}
	}
	
	
	
}

//===============================================================================
//===============================================================================
// desktop
//===============================================================================
//===============================================================================
@media (min-width: @screen-md-min) {
	.full-width-container{
		.pageHeading{
			width: 30%;
			h3{
				font-size:20px;
				margin:10px 0 0 0;
			}
		}
		.numberDataContainer{
			padding:8% 6%;
			font-size:1.2vw;
			.numberData{
				margin-top:4%;
				span{
					display:block;
					font-size: 8vw;
				}
				sup{
					font-size: 5vw;
				}
			}
		}
		.image-caption{
			padding:10px 22%;

			p{
				font-size: 15px;
			}
		}
		.overlayContent{
			h2.lowerTitle{
				margin-top: 60px;
			}
		}
		
		.contactContainer{
			.contactInfo{
				font-size:15px;
				line-height:160%;
				span{
					padding-bottom:5px;
				}
			}
		}
	}
	.full-width-container .fullOverlay .aboutParagraph p,
	.full-width-container .fullOverlay .aboutList{
		font-size: 15px;
	}
}

//===============================================================================
//===============================================================================
// wide desktop
//===============================================================================
//===============================================================================
@media (min-width: @screen-lg-min) {
	.full-width-container{
		.numberDataContainer{
			width:100%;
			padding:4% 3%;
			font-size:1.0vw;
			.numberData{
				margin-top:4%;
				span{
					display:block;
					font-size: 6.5vw;
				}
				sup{
					font-size: 5vw;
				}
			}
		}
	}
}